img{
    border-radius: 50%;
    width: 150px;
    object-fit: cover;

}
a{
    text-decoration: none;
    color: black;
}
.list-group-item a {
    text-decoration: none;
    color: black;
}